* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section-one {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 100vh;
	margin: auto;
}

.helmet {
	width: 100%;
	border-radius: 8px;
}

.left-view {
	width: 45%;
}

.right-view {
	width: 45%;
}
